demo_soap/src/main/mule/demo_soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ec59c1bc-d42b-4d66-9fc7-216525469f1e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3dfed8c5-7463-443a-9416-b0e97727c610" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="demo_soapFlow" doc:id="53a12b3e-ba8f-46ff-a42f-a83f6d876844" >
		<http:listener doc:name="Listener" doc:id="1736ffd1-9c92-416f-ba2e-b04385926248" config-ref="HTTP_Listener_config" path="/addTwoNumbers"/>
		<set-variable value="#[attributes.queryParams.Number1]" doc:name="Set Variable" doc:id="2641f896-537c-441f-85c0-dcc00c578828" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.Number2]" doc:name="Set Variable" doc:id="da16bbb8-69c2-4e1b-b573-e443ace609ce" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="acd94e43-50e0-4acd-909b-cd4dc392e8a4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="f7d058f9-9c15-496e-9c57-641edfee8ace" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="aafd862c-dd3b-48b1-a69a-c2ea59cea397" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
</mule>
